#main {
  margin-top: 80px !important; /* setzt den Abstand des main-Tags vom Header */
  position: relative !important; /* setzt die Position des main-Tags als relativ */
  z-index: 1 !important; /* hebt den main-Tag über alle anderen Elemente auf */
}

#hero {
  padding: 120px 0 0 0 !important;
}